rms/org.eclipse.ptp.rm.lml.core/schema/request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
          LML - LLView markup language 

   Copyright (C) 2010, Forschungszentrum Juelich GmbH, Federal Republic of
   Germany. All rights reserved.

   Redistribution and use in source and binary forms, with or without
   modification, are permitted provided that the following conditions are met:

   Redistributions of source code must retain the above copyright notice, this
   list of conditions and the following disclaimer.

     - Redistributions of source code must retain the above copyright notice,
       this list of conditions and the following disclaimer.

     - Redistributions in binary form must reproduce the above copyright
       notice, this list of conditions and the following disclaimer in the
       documentation and/or other materials provided with the distribution.

     - Any publications that result from the use of this software shall
       reasonably refer to the Research Centre's development.

     - All advertising materials mentioning features or use of this software
       must display the following acknowledgement:

           This product includes software developed by Forschungszentrum
           Juelich GmbH, Federal Republic of Germany.

     - Forschungszentrum Juelich GmbH is not obligated to provide the user with
       any support, consulting, training or assistance of any kind with regard
       to the use, operation and performance of this software or to provide
       the user with any updates, revisions or new versions.


   THIS SOFTWARE IS PROVIDED BY FORSCHUNGSZENTRUM JUELICH GMBH "AS IS" AND ANY
   EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
   WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
   DISCLAIMED. IN NO EVENT SHALL FORSCHUNGSZENTRUM JUELICH GMBH BE LIABLE FOR
   ANY SPECIAL, DIRECT OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES WHATSOEVER
   RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN ACTION OF
   CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF OR IN
   CONNECTION WITH THE ACCESS, USE OR PERFORMANCE OF THIS SOFTWARE.
 -->
<schema targetNamespace="http://www.llview.de" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:lml="http://www.llview.de">

    


    <complexType name="RequestType">
    	<annotation>
    		<documentation>
    			A type for collecting request information. LML can be
    			used as communication language. The client sends layout
    			information and empty data-tags to the server. The
    			server returns the corresponding data.
    		</documentation>
    	</annotation>
    	<attribute name="saveLayout" type="boolean" default="false">
    		<annotation>
    			<documentation>
    				If true, the server should save the currently send
    				layout for this user.
    			</documentation>
    		</annotation>
    	</attribute>
    	<attribute name="getDefaultData" type="boolean" default="false">
    		<annotation>
    			<documentation>If true the server should return default data with a default layout. This can be usefull when the client connects to the server for the first time.</documentation>
    		</annotation></attribute>
    </complexType>
</schema>